{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<!-- Could check for student group membership here, but would be a little
	redundent since it was already done in the view. -->

<!-- This file is similar to the student version, for an indepth explanation
	of what this html before the scripts and style does please refer to
	the student version of this html file. -->

<h2>Simulation Files</h2>

<br>

<h3 style="font-style:italic">Test Sim Data Files</h3>

<br>
	
{% if testsim %}

<div id=testsim></div>

<br>

{% else %}

<p>You have no test sim data files!</p>

<br>

{% endif %}

<h3 style="font-style:italic">Test Sim Resource Files</h3>

<br>

{% if testsimresource %}

<div id=testsimresource></div>

<br>

{% else %}

<p>You have no test sim resource files!</p>

<br>

{% endif %}

<h2>Lab Report Draft Files</h2>

<br>

{% if drafts %}

<div id=drafts></div>

<br>

{% else %}

<p>You have no lab report draft files!</p>

<br>

{% endif %}

<h2>Published Lab Report Templates</h2>

<br>

{% if templates %}

<div id=templates></div>

<br>

{% else %}

<p>You have no published lab report templates!</p>

<br>

{% endif %}

<br>

<script type="text/javascript">
	
	var cachebuster = new Date().getTime();

	document.write('<scr'+'ipt type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js?cb=' +cachebuster+'"></scr' +'ipt>');

</script>

<script>
	d3.json("{%url "files:testsim_json"%}", function(data) {
		data = JSON.parse(data)
		
  		grid = d3.select("#testsim")
    			.append("div")
    			.attr("id", "grid")
   	 		.attr("class", "grid")
  		;
		
  		testsim = grid
    			.selectAll("div")
    			.data(data)
    			.enter()
    			.append("div")
    			.attr("class", "testsim")
  		;

  		{% load static %}

		testsim.style("background-image", function(d){ 
	  		return 'url("{% static 'media/images/csv_background.png' %}")'; 
  		});

  		testsim.on("click", function(d,i) {
	  		if(this.className.split(' ').indexOf('open') > -1) {
		  		d3.select(this).classed("open", false);
	  		}
	  		else {
		  		d3.selectAll(".testsim").classed("open", false);
		  		d3.select(this).classed("open", true);
	  		}
  		});
		
  		metadata = testsim 
			.append("div")
			.attr("class","metadata");

  		display = metadata
			.append("div")
			.attr("class", "display");
		
		display
			.append("h3")
			.text(function(d,i){return d.fields.csv;})
		;
		
		display 
			.append("div")
			.attr("class", "download")
			.append("a")
			.attr("href",function(d) {
				return "{% static 'media' %}" + d.fields.csv; })
			.attr("download",function(d) { return d.fields.csv})
			.text("Download")
		;

		display
			.append("div")
			.attr("class", "delete")
			.append("a")
			.attr("href", function(d) {
				return "{% url 'files:testsim_delete' instance_id=12345 %}".replace(12345, d.pk.toString()); 
			})
			.text("Delete")
		;

	})

</script>

<style>
	body {
       		background-color: #FFFFFF;
        }
	
	body, a {
        	color: #000000;
        }

	.grid {
   		display: grid;
   		grid-gap: 10px;
   		grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
   		grid-auto-rows: 100px;
		grid-auto-flow: dense;
	}

	.testsim {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: relative;
	}

	.open {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}

	.testsim h3 {
   		font-size: 130%;
   		color:rgba(210,210,210,1);
   		margin-top: 2px;
   		margin-bottom: 6px;
		word-wrap: break-word;
		width: 200px;
	}
	
	.testsim h4 {
   		font-size: 80%;
   		color:rgba(202,173,45,1);
   		margin-top: 2px;
   		margin-bottom: 2px;
	}

	.metadata {
   		display: none;
   		line-height: 80%;
	}

	.metadata .display{
   		font-size: 80%;
   		padding: 10px;
   		text-align: left;
}

	.metadata span{
   		font-size: 100%;
   		color:rgba(210,210,210,1);
	}
	
	.download{
   		margin-top: 20px;
	}

	.download a{
   		color:rgba(202,173,45,1);
	}

	.delete{
                margin-top: 20px;
        }

        .delete a{
                color:rgba(202,173,45,1);
        }

  	.open .metadata {
   		display: block;
   		height: 100%;
	}
	
	.open .metadata{
   		position: relative;
   		width: 100%;
   		height: 100%;
   		background-color:rgba(28,28,28,0.8);
	}

</style>

<script>
	d3.json("{%url "files:testsimresource_json"%}", function(data) {
		data = JSON.parse(data)
		
  		grid = d3.select("#testsimresource")
    			.append("div")
    			.attr("id", "grid")
   	 		.attr("class", "grid")
  		;
		
  		testsimresource = grid
    			.selectAll("div")
    			.data(data)
    			.enter()
    			.append("div")
    			.attr("class", "testsimresource")
  		;

  		{% load static %}

		testsimresource.style("background-image", function(d){ 
	  		return 'url("{% static 'media' %}' + d.fields.resource +'")'; 
  		});

  		testsimresource.on("click", function(d,i) {
	  		if(this.className.split(' ').indexOf('open') > -1) {
		  		d3.select(this).classed("open", false);
	  		}
	  		else {
		  		d3.selectAll(".testsimresource").classed("open", false);
		  		d3.select(this).classed("open", true);
	  		}
  		});
		
  		metadata = testsimresource 
			.append("div")
			.attr("class","metadata");

  		display = metadata
			.append("div")
			.attr("class", "display");
		
		display
			.append("h3")
			.text(function(d,i){return d.fields.resource;})
		;
		
		display 
			.append("div")
			.attr("class", "download")
			.append("a")
			.attr("href",function(d) {
				return "{% static 'media' %}" + d.fields.resource; })
			.attr("download",function(d) { return d.fields.resource})
			.text("Download")
		;

		display
			.append("div")
			.attr("class", "delete")
			.append("a")
			.attr("href", function(d) {
				return "{% url 'files:testsimresource_delete' instance_id=12345 %}".replace(12345, d.pk.toString()); 
			})
			.text("Delete")
		;

	})

</script>

<style>
	body {
       		background-color: #FFFFFF;
        }
	
	body, a {
        	color: #000000;
        }

	.grid {
   		display: grid;
   		grid-gap: 10px;
   		grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
   		grid-auto-rows: 100px;
		grid-auto-flow: dense;
	}

	.testsimresource {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: relative;
	}

	.open {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}

	.testsimresource h3 {
   		font-size: 130%;
   		color:rgba(210,210,210,1);
   		margin-top: 2px;
   		margin-bottom: 6px;
		word-wrap: break-word;
		width: 200px;
	}
	
	.testsimresource h4 {
   		font-size: 80%;
   		color:rgba(202,173,45,1);
   		margin-top: 2px;
   		margin-bottom: 2px;
	}

	.metadata {
   		display: none;
   		line-height: 80%;
	}

	.metadata .display{
   		font-size: 80%;
   		padding: 10px;
   		text-align: left;
}

	.metadata span{
   		font-size: 100%;
   		color:rgba(210,210,210,1);
	}
	
	.download{
   		margin-top: 20px;
	}

	.download a{
   		color:rgba(202,173,45,1);
	}

	.delete{
                margin-top: 20px;
        }

        .delete a{
                color:rgba(202,173,45,1);
        }

  	.open .metadata {
   		display: block;
   		height: 100%;
	}
	
	.open .metadata{
   		position: relative;
   		width: 100%;
   		height: 100%;
   		background-color:rgba(28,28,28,0.8);
	}

</style>

<script>
	d3.json("{%url "files:labdraftjson"%}", function(data) {
		data = JSON.parse(data)

  		grid = d3.select("#drafts")
    			.append("div")
    			.attr("id", "grid")
   	 		.attr("class", "grid")
  		;
		
  		drafts = grid
    			.selectAll("div")
    			.data(data)
    			.enter()
    			.append("div")
    			.attr("class", "drafts")
  		;

  		{% load static %}

		drafts.style("background-image", function(d){ 
	  		return 'url("{% static 'media' %}' + '/images/pdf_background.png' +'")'; 
  		});

  		drafts.on("click", function(d,i) {
	  		if(this.className.split(' ').indexOf('open') > -1) {
		  		d3.select(this).classed("open", false);
	  		}
	  		else {
		  		d3.selectAll(".drafts").classed("open", false);
		  		d3.select(this).classed("open", true);
	  		}
  		});
		
  		metadata = drafts 
			.append("div")
			.attr("class","metadata");

  		display = metadata
			.append("div")
			.attr("class", "display");
		
		display
			.append("h3")
			.text(function(d,i){return d.fields.title;})
		;
		
		display 
			.append("div")
			.attr("class", "download")
			.append("a")
			.attr("href",function(d) {
				return "{% static 'media' %}" + d.fields.draft; })
			.attr("download",function(d) { return d.fields.draft})
			.text("Download")
		;

		display
			.append("div")
			.attr("class", "delete")
			.append("a")
			.attr("href", function(d) {
				return "{% url 'files:labdraftdelete' instance_id=12345 %}".replace(12345, d.pk.toString()); 
			})
			.text("Delete")
		;

	})

</script>

<style>
	body {
       		background-color: #FFFFFF;
        }
	
	body, a {
        	color: #000000;
        }

	.grid {
   		display: grid;
   		grid-gap: 10px;
   		grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
   		grid-auto-rows: 100px;
		grid-auto-flow: dense;
	}

	.drafts {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: relative;
	}

	.open {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}

	.drafts h3 {
   		font-size: 130%;
   		color:rgba(210,210,210,1);
   		margin-top: 2px;
   		margin-bottom: 6px;
		word-wrap: break-word;
		width: 200px;
	}
	
	.drafts h4 {
   		font-size: 100%;
   		color:rgba(202,173,45,1);
   		margin-top: 2px;
   		margin-bottom: 2px;
		word-wrap: break-word;
		width: 200px;
	}

	.metadata {
   		display: none;
   		line-height: 80%;
	}

	.metadata .display{
   		font-size: 80%;
   		padding: 10px;
   		text-align: left;
}

	.metadata span{
   		font-size: 100%;
   		color:rgba(210,210,210,1);
	}
	
	.download{
   		margin-top: 20px;
	}

	.download a{
   		color:rgba(202,173,45,1);
	}

	.delete{
                margin-top: 20px;
        }

        .delete a{
                color:rgba(202,173,45,1);
        }

  	.open .metadata {
   		display: block;
   		height: 100%;
	}
	
	.open .metadata{
   		position: relative;
   		width: 100%;
   		height: 100%;
   		background-color:rgba(28,28,28,0.8);
	}

</style>

<script>
	d3.json("{%url "files:labtempjson"%}", function(data) {
		data = JSON.parse(data)
		
  		grid = d3.select("#templates")
    			.append("div")
    			.attr("id", "grid")
   	 		.attr("class", "grid")
  		;
		
  		templates = grid
    			.selectAll("div")
    			.data(data)
    			.enter()
    			.append("div")
    			.attr("class", "templates")
  		;

  		{% load static %}

		templates.style("background-image", function(d){ 
	  		return 'url("{% static 'media' %}' + '/images/pdf_background.png' +'")'; 
  		});

  		templates.on("click", function(d,i) {
	  		if(this.className.split(' ').indexOf('open') > -1) {
		  		d3.select(this).classed("open", false);
	  		}
	  		else {
		  		d3.selectAll(".drafts").classed("open", false);
		  		d3.select(this).classed("open", true);
	  		}
  		});
		
  		metadata = templates 
			.append("div")
			.attr("class","metadata");

  		display = metadata
			.append("div")
			.attr("class", "display");
		
		display
			.append("h3")
			.text(function(d,i){return d.fields.title;})
		;

		display
			.append("h4")
			.text(function(d,i){return d.fields.description;})
		;
		
		display 
			.append("div")
			.attr("class", "download")
			.append("a")
			.attr("href",function(d) {
				return "{% static 'media' %}" + d.fields.template; })
			.attr("download",function(d) { return d.fields.template})
			.text("Download")
		;

		display
			.append("div")
			.attr("class", "delete")
			.append("a")
			.attr("href", function(d) {
				return "{% url 'files:labtempdelete' instance_id=12345 %}".replace(12345, d.pk.toString()); 
			})
			.text("Delete")
		;

	})

</script>

<style>
	body {
       		background-color: #FFFFFF;
        }
	
	body, a {
        	color: #000000;
        }

	.grid {
   		display: grid;
   		grid-gap: 10px;
   		grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
   		grid-auto-rows: 100px;
		grid-auto-flow: dense;
	}

	.templates {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: relative;
	}

	.open {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}

	.templates h3 {
   		font-size: 130%;
   		color:rgba(210,210,210,1);
   		margin-top: 2px;
   		margin-bottom: 6px;
		word-wrap: break-word;
		width: 200px;
	}
	
	.templates h4 {
   		font-size: 100%;
   		color:rgba(202,173,45,1);
   		margin-top: 2px;
   		margin-bottom: 2px;
		word-wrap: break-word;
		width: 200px;
	}

	.metadata {
   		display: none;
   		line-height: 80%;
	}

	.metadata .display{
   		font-size: 80%;
   		padding: 10px;
   		text-align: left;
}

	.metadata span{
   		font-size: 100%;
   		color:rgba(210,210,210,1);
	}
	
	.download{
   		margin-top: 20px;
	}

	.download a{
   		color:rgba(202,173,45,1);
	}

	.delete{
                margin-top: 20px;
        }

        .delete a{
                color:rgba(202,173,45,1);
        }

  	.open .metadata {
   		display: block;
   		height: 100%;
	}
	
	.open .metadata{
   		position: relative;
   		width: 100%;
   		height: 100%;
   		background-color:rgba(28,28,28,0.8);
	}

</style>

{% else %}

<!-- This else should never occur, but is here for redunency. -->

	<a href="{% url 'user_extension:login' %}" >Sign in</a> or <a href="{% url 'user_extension:student_registration' %}" >Register</a>

{% endif %}

{% endblock %}
