{% extends 'base.html' %}

{% load static %}

{% block title %}Post a reply{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'home' %}">Forums</a>/</li>
  <li><a href="{% url 'forum_topics' topic.forum.pk %}">{{ topic.forum.name }}</a>/</li>
  <li><a href="{% url 'topic_posts' topic.forum.pk topic.pk %}">{{ topic.subject }}</a>/</li>
  <li>Reply</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-dark">Post</button>
  </form>
<br>
  {% for post in topic.posts.all %}
    <div class="row mb">
      <div class="col">
        <strong class="text-muted">{{ post.created_by.username }}</strong>
      </div>
      <div align="right" class="col">
        <small class="text-muted">{{ post.created_at }}</small>
      </div>
    </div>
        {{ post.message }}
		
	  <hr>
  {% endfor %}

{% endblock %}