{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
  <li><a href="{% url 'home' %}">Forums</a>/</li>
  <li>User Files</li>
{% endblock %}
{% block content %}
  <form method="post" class="mb" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-dark">Submit File</button>
  </form>
{% for files in userfiles %}
<div>
	<br>
	<a href="{% static '/media/' %}{{ files.file }}" download="files{{ files.file }}" 
	class = "btn btn-dark" role="button">
	{{ files.file }}</a>
</div>
{% endfor %}

{% endblock %}
